.project-owner {
    margin-top: 35px;
}

.project-owner-detail {
    margin: 0 144px;
    margin-bottom: 20px;
}

.card-detail {
    max-width: 280px;
    margin: 10px 20px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer
}

/* .img-detail {
    width: 300px;
    height: 225px;
    max-width: 300px;
    max-height: 225px;
    display: block;
    object-fit: cover;
} */

.img-detail img {
    height: 100%;
    width: 100%;
}

.img-detail {
    object-fit: cover;
    width: 262.638px;
    height: 175.087px;
}

.card-detail h4 {
    font-size: 13px;
    color: #878787;
}

.project-owner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-owner-title {
    color: #CD9A2B;
    margin-left: 50px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.project-view-detail {
    margin-right: 50px;
}

.project-view-detail a {
    /* margin-right: 50px; */
    padding: 10px 20px;
    border: 1px solid #CD9A2B;
    color: #CD9A2B;
}

.project-view-detail a:hover {
    border: 1px solid #CD9A2B;
    color: #fff;
    background-color: #CD9A2B;
}