.container-detail {
    margin: 0 auto;
    /* max-width: 1300px; */
 
}

/* .container-item{
    max-width: 500px;
    margin:0 100px ;
} */

.container-title {
    font-size: 30px;
    font-weight: bold;
    margin: 10px 0;
}

.container-icon {
    display: flex;
    margin: 20px 0 20px 134px;
    border-bottom: 2px solid #CD9A2B;
    padding-bottom: 5px;
    width: 80%;

}



.container-icon>*:not(:last-child) {
    margin-right: 100px;
}

.container-item-service {
    border-radius: 25px;
    border: 2px solid #CD9A2B;
    width: 600px;
    max-width: 700px;
    /* margin: 0 0 20px 134px */
    margin-left: 134px;
    margin-top: 17px;

}

.container-item-service-item a {}

.container-item-service-flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    margin: auto;
    /* flex-wrap: wrap;
    overflow: hidden; */
    width: 100%;




}

.container-item-service-flex .container-item-service-item {
    margin: 20px auto;
    /* max-width: 155px; */

}

.container-item-service-title {
    font-size: 22px;
    background-color: #CD9A2B;
    font-weight: bold;
    width: 90px;
    color: white;
    text-align: center;
    position: relative;
    left: 25px;
    border-radius: 10px 10px 0 0;
    /* margin: 20px 0 20px 134px */
    margin-left: 130px;
    top: 5%;
}

.container-item-img {
    width: 1250px;
    margin: 0 auto;
}

.container-item-img-item {
    /* padding-right: 10px; */
    object-fit: cover;
    width: 471px;
    height: 278px;
    padding-right: 5px;

}

.container-item-img-item img {
    /* padding-right: 10px; */
    height: 100%;
    width: 100%;

}

.arrow-detail {
    font-size: 30px;
    padding: 5px 15px;
    box-shadow: 0 0 5px 3px #ccc;
    width: 50px;
    display: flex;
    position: absolute;
    top: 120px;
    cursor: pointer;
    border-radius: 10px;
}

.arrow-right {
    right: -55px;
}

.arrow-left {
    /* left: -80px; */
    right: 1265px;
}

.container-title {
    margin-left: 134px;
    margin: 20px 0 20px 134px
}

.column-form {
    display: flex;
    flex-direction: column;
    /* Đặt các cặp label và input theo chiều ngang */
    width: auto;
    /* Điều chỉnh kích thước tối đa của form nếu cần */
    margin: 0 30px;
    /* Căn giữa form */
    max-width: 200px;
    justify-content: center;

}

.column-form input {
    margin-bottom: 20px;
    border-radius: 5px;
    width: 155px;
}

.column-form button {
    width: 155px;
    background-color: #CD9A2B;
    padding: 10px;
    border-radius: 5px;
    color: white;
    margin-bottom: 15px;
}

/* .column-1{
    margin-right: 150px;
} */
.form-item {
    display: flex;

    /* max-width: 750px; */

}

.form-cost {
    font-size: 35px;
    color: red;
    border-bottom: 1px solid #CD9A2B;
}

.form {
    background-color: #F8F8F8;
    /* width: 81%; */
    /* margin: 0 auto; */
    width: 431px;
    margin-left: 190px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
}

.form-cost {
    /* display: none; */
}

.grid-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    ;
    /* width: 20px; */
    margin: 0 auto;
    margin-bottom: 20px;
}


#tabs {
    max-width: 1240px;
    margin-left: 134px;
    overflow: hidden;
    margin-bottom: 30px;
}

#tabs menu {
    margin: 0;
    padding: 0;
    /* display: flex; */
    gap: 0.25rem;

}

#tabs .custom-button {
    /* font: inherit; */
    font-size: 17px;
    background-color: rgb(247, 121, 10);
    border: none;
    border-bottom-color: #48d9f3;
    color: #e0eff1;
    border-radius: 10px 10px 0 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all 0.2s ease-out;
    margin-left: 25px;
    font-weight: bold;
}

#tabs .custom-button:hover,
#tabs .custom-button.active {
    background-color: #CD9A2B;
    color: white;
}

#tab-content {
    /* background-color: #42342d; */
    border: 2px solid #CD9A2B;
    border-radius: 25px;
    padding: 1rem;
    height: 200px;
    max-height: 300px;
}

#tab-content li {
    margin: 0.75rem 0;
}

.project-similar {
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.project-detail {
    width: 880px;
    border: 2px solid #CD9A2B;
    border-radius: 25px;

    padding-bottom: 70px;

}

.card-detail {
    max-width: 280px;
    /* width: 1000px; */
    /* border: 3px solid red; */
    margin: 10px 20px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    cursor: pointer
}

.img-detail {
    width: 300px;
    height: 225px;
    max-width: 300px;
    max-height: 225px;
    display: block;
    object-fit: cover;

}

.img-detail img {
    height: 100%;
    width: 100%;
    /* object-fit: cover; */
}



.card-detail h4 {
    font-size: 13px;
    color: #878787;
}

.arrowst {
    font-size: 30px;
    padding: 5px 15px;
    /* box-shadow: 0 0 5px 3px #ccc; */
    background-color: #000000;
    width: 50px;
    display: flex;
    position: absolute;
    top: 170px;
    cursor: pointer;
    border-radius: 10px;
}

.arrowst-right {
    left: 810px;
    top: 375px;
}

.arrowst-right:hover {
    background-color: #363535;
}

.arrowst-left {
    top: 375px;
    right: 90px;
}

.arrowst-left:hover {
    background-color: #363535;
}

.project-simi-title {
    width: 20%;
    background-color: #CD9A2B;
    margin-left: 26px;
    border-radius: 10px 10px 0 0;
    font-size: 22px;
    font-weight: bold;
    /* width: 90px; */
    color: white;
    text-align: center;
}

.room-card {
    display: flex;

}

.img-room img {
    height: 100%;
    width: 100%;
    border-radius: 25px;

}

.img-room {
    width: 130px;
    height: 100px;
    object-fit: cover;


}

.room-card {
    /* background-color: red; */
    width: 330px;
    /* margin-left: 20px; */
    /* margin-top: 20px; */
    /* height: 80px; */
    /* margin-top: 10px;*/
    margin-bottom: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 25px;


}

.room-card:hover {
    background-color: #CD9A2B;
}

.room-item {
    border: 2px solid #CD9A2B;
    margin-left: 20px;
    margin-top: 0px;
    max-height: 428px;
    border-radius: 25px;
    padding: 2px;
}

.room-title {
    background-color: #CD9A2B;
    width: 150px;
    text-align: center;
    border-radius: 10px 10px 0 0;
    font-size: 22px;
    font-weight: bold;
    /* width: 90px; */
    color: white;
    margin-left: 45px;
}

.room-detail{
    padding-left: 10px;
    font-size: 15px;
}

.room-detail h2{
    font-weight: bold;
    
}

.room-detail p{
    color: red;
    font-weight: bold;
    
}