.project {
    /* margin: 0 auto; */


}

.project-title {
    margin: 15px 30px;
    font-size: 50px;
    font-family: 'Otomanopee One', sans-serif;
    color: #CD9A2B;
    /* position: relative; */
    /* border-bottom: 1px solid rgb(0, 0, 0) ; */

}

/* .project-title::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px; 
    background-color: #CD9A2B; 
} */


.project-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    margin: auto;
    /* width: 81%; */
    /* border: 3px solid green; 
    padding: 10px;*/
}

/* .project-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 50px;
} */

.column {
    flex: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    /* border-radius: 20px; */
    max-width: 300px;
    /* width: 1000px; */
    /* border: 3px solid red; */
    margin: 10px 20px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
}

/* .card img {
    width: 100%;
    height: 172px;
    object-fit: cover;
} */

.card-item-img {
    object-fit: cover;
    width: 262.638px;
    height: 175.087px;
}

.card-item-img img {
    height: 100%;
    width: 100%;
}

.card h4 {
    font-size: 13px;
    color: #878787;
    
}

.project-list-title {
    display: flex;
    font-weight: bold;
    margin-top: 3px;
}

/* .project-list-feedback {
    margin-left: 50px;
} */

.project-list-name {

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 200px;
}

.project-list-detail {
    /* margin-left: 15px; */
    margin: 10px 8px;
    padding: 2px;
}

.project-list-cost {
    font-weight: bold;
    color: #4C4DDC;
}

.project-list-cost a {
    font-weight: normal;
    color: #878787;
    font-size: 12px;

}

.card p {
    display: flex;
    justify-content: flex-end;
}

.project-list-button-view {
    background-color: #CD9A2B;
    /* width: 25%;
    margin-left: 180px; */
    /* width: 80px; */
    padding: 5px 25px;
    margin-right: 15px;
    color: white;
    font-family: 'Plaster';
    border-radius: 10px;
    margin-bottom: 10px;
}

.project-list-button-view:hover {
    background-color: #c27b19;
    color: #fff;
}

.project-learn h1 {
    font-size: 50px;
    font-family: 'Otomanopee One', sans-serif;
    color: #CD9A2B;
    margin: 0 auto;
    text-align: center;

}

.project-learn {
    margin-bottom: 200px;
}

.content-new{
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    
}

.project-learn-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    width: 1100px;
    cursor: pointer;

}

.project-learn-blog {
    margin: 0 20px;
    position: relative;
}

.project-learn-detail {
    position: absolute;
    top: 135px;
    left: 32px;
    width: 261px;
    height: 230px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    transition: box-shadow 0.3s ease-in-out;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
}

.project-learn-blog img {
    width: 100%;
    height: 220px;
    margin-top: 10px;
}

.project-learn-detail h2 {
    font-weight: bold;
}

.project-learn-detail p {
    display: inline-block;
    height: 120px;
    margin-top: 10px;
    color: #737272;
}

.project-learn-author {
    display: flex;
    justify-content: space-around;

}

.project-learn-button {
    background-color: #A77B3F;
    width: 80px;
    height: 42px;
    text-align: center;
    color: white;
    font-size: 13px;
    margin-left: 200px;
    position: relative;
    bottom: 8px;
    opacity: 0.9;
}