.e6e947a3f3.ca940ccdb6 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.d7c982e3c3 {
    margin-bottom: 16px;
    padding: 16px;
    position: relative;
    background: #fff;
    z-index: 0;
}

.e6e947a3f3 {
    background: #f5f5f5;
}

.e6e947a3f3.ca940ccdb6 .efe2573e07 {
    width: 1140px;
    padding: 0 32px;
    box-sizing: border-box;
}

.efe2573e07 {
    z-index: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.b0fa906f8d .bcc6a086d3 {
    width: 700px;
    margin-bottom: 0;
}

.bcc6a086d3 {
    width: 100%;
    margin-top: 16px;
}

.ebdcef99c3 {
    border-radius: 8px;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
}

.ffae958e14 {
    box-shadow: 0 2px 8px 0 rgba(26,26,26,0.16);
}

.a6ae3c2b40 {
    border-color: #e7e7e7;
}
.c0fdac86a6 {
    background-color: #fff;
}
.d794b7a0f7 {
    border-radius: 8px;
}
.a18aeea94d {
    border: 1px solid;
}
/* .c82435a4b8 {
    padding: calc( 0 * 4px );
} */
.f53e278e95 {
    overflow: hidden;
}
.c82435a4b8 {
    box-sizing: border-box;
}

.f5ca87a2a1 .db3738faa6 {
    flex-direction: row;
}

.db3738faa6 {
    display: flex;
    flex-direction: column;
}

.f5ca87a2a1 .da948e99a4 {
    flex: 1;
    padding-bottom: 0;
    border-bottom: 0;
}

.da948e99a4 {
    display: flex;
}

.f5ca87a2a1.ebdcef99c3 .b7db025f54 {
    width: 104px;
}

.b7db025f54 {
    width: 32px;
}

.e5a3812a75 {
    box-sizing: border-box;
    display: block;
    position: relative;
    overflow: hidden;
}

.d354f8f44f {
    -o-object-fit: cover !important;
    object-fit: cover !important;
}

.e3fa9175ee {
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.f5ca87a2a1 .e7a9dabef5 {
    padding: 0 16px 0 8px;
    flex-direction: column;
}

.e7a9dabef5 {
    display: flex;
    flex: 1;
    justify-content: center;
}

.f5ca87a2a1 .e7a9dabef5 .ece6399982 {
    margin-left: 0;
}

.ece6399982 {
    margin-left: 12px;
}

.af8fbdf136 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-family: "Blue Sans",BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.f5ca87a2a1 .d80469234a {
    margin-top: 4px;
}

.a53cbfa6de {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.f45d8e4c32 {
    color: #595959;
}

.f5ca87a2a1 .e7a9dabef5 .e402d59492 {
    margin-left: 0;
    margin-top: 16px;
}

.e402d59492 {
    margin-left: auto;
}
