.header {
    background-color: #CD9A2B;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
}

.nav-welcome{
    margin-left: 130px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: space-around;
    margin-left: 595px;
  
}

.nav-list li {
    margin: 0 10px; /* Thêm margin giữa các mục để tạo khoảng cách */
}

.nav-list li:last-child {
    margin-right: 0; /* Loại bỏ margin bên phải của mục cuối cùng */
}