.header-background {
    display: flex;
    height: 100vh;
    /* background-color: black; */
    /* background-image: url('../../assets/img.jpg'); */
    background-size: cover;
    box-shadow: inset 0 0 2000px rgba(0, 0, 0, 1);
}

.content {
    display: flex;
    /* border: 1px solid red; */
    flex-direction: column;
    max-height: 695px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;

}

.content h1 {
    font-size: 60px;
    font-weight: bolder;
}

.content p {
    font-size: 22px;
    margin: 15px auto;
    max-width: 550px;
    letter-spacing: 2px;
}

.content a {
    color: inherit;
    text-decoration: none;
    background-color: plum;
    padding: 12px 24px;
    font-size: 22px;
    border-radius: 10px;
}

.header-gray {
    background-color: #D9D9D9;
    display: flex;

}

.header-gray-img {
    width: 20%;
    margin: 50px;
    margin-left: 85px;
}

.header-gray-title h1 {
    font-family: 'Alfa Slab One';
    font-weight: bolder;
    font-size: 40px;
    width: 900px;
}

.header-gray-title p {
    width: 950px;
    font-size: 20px;
    margin: 30px 0;
}

.header-gray-title {
    margin-top: 35px;
    margin-left: 40px;

}

.header-gray-title button {
    /* margin-top: 30px; */
    background-color: #CD9A2B;
    width: 115px;
    max-width: 200px;
    padding: 15px;
    color: white;
    font-size: 20px;
    text-align: center;
   

}