.sidebar-background {
    background-color: #f5f5f5;
}

.sidebar-container {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    padding: 1.25rem 0 3.125rem;
    min-height: 100vh;
}

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    border: 1px solid #efefef;
    /* border-bottom: 1px solid #efefef; */
    /* width: 250px; */
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.13);
    background-color: #fff;
    flex-basis: 33.33333%;
    width: 33.33333%;
    max-width: 33.33333%;
    border-radius: 8px 8px 0 0;
    padding: 24px -webkit-calc(24px / 2) 0 -webkit-calc(24px / 2);
}

/* .sidebar a {
    cursor: pointer;
    text-decoration: none;
} */

/* a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
} */

._1O4r\+C, .sidebar-avatar {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
}

.sidebar-avatar {
    display: inline-block;
    width: 1.875rem;
    height: 1.875rem;
    position: relative;
    border-radius: 50%;
    border: 0.0625rem solid rgba(0, 0, 0, .09);
    box-sizing: border-box;
}

.sidebar-avatar__placeholder {
    width: 100%;
    position: relative;
    padding-top: 100%;
    background-color: #f5f5f5;
    border-radius: 50%;
    overflow: hidden;
}

.sidebar-avatar__placeholder .icon-headshot {
    stroke: #c6c6c6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sidebar-svg-icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    fill: currentColor;
    position: relative;
}

.AmWkJQ {
    display: flex;
    padding: 15px 0;
    border-bottom: 1px solid #efefef;
}

.miwGmI {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15px;
    overflow: hidden;
}

.mC1Llc {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    min-height: 1rem;
    font-weight: 600;
    margin-bottom: 5px;
    color: #333;
}

._78QHr1 {
    color: #888;
    text-transform: capitalize;
    text-decoration: none;
}

.rhmIbk {
    list-style: none;
    padding: 0;
    margin: 27px 0 0;
    cursor: pointer;
    margin-left: 40px;
}

.stardust-dropdown {
    position: relative;
}

.\+1U02e {
    text-decoration: none;
    color: rgba(0, 0, 0, .87);
    display: flex;
    align-items: center;
    margin-bottom: 0.9375rem;
}

.bfikuD {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.25rem;
    height: 1.25rem;
    line-height: 1.25rem;
    text-align: center;
    border-radius: 50%;
    color: #000;
    flex-shrink: 0;
    margin-right: 0.625rem;
}

.DlL0zX {
    line-height: 1rem;
}

.adF7Xs {
    font-weight: 500;
    margin-right: 0.3125rem;
}

.stardust-dropdown__item-body {
    transition: height .4s cubic-bezier(.4,0,.2,1), opacity .4s cubic-bezier(.4,0,.2,1);
    height: 0;
    opacity: 0;
    overflow: hidden;
}

.\+1U02e.wkLUkx:active, .\+1U02e:hover {
    color: #CD9A2B;
}

main {
    position: relative;
    flex-basis: 66.66667%;
    width: 66.66667%;
    max-width: 66.66667%;
    /* flex-grow: 1;
    width: 980px; */
    box-sizing: border-box;
    /* margin-left: 1.6875rem; */
    min-width: 0;
    padding: 24px -webkit-calc(24px / 2) 0 -webkit-calc(24px / 2);
    /* background: #fff; */
    /* box-shadow: 0 1px 2px 0 rgba(0,0,0,.13); */
    /* border-radius: 0.125rem; */
}

.active {
    color: #CD9A2B; /* Áp dụng màu vàng cho mục được chọn */
}

.profile-content-card__content {
    border-radius: 8px 8px 0 0;
    min-height: 80px;
    padding: 16px;
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.acc-profile-card__user-photo {
    border-radius: 50%;
    border: 2px solid #fff;
    display: inline-block;
    vertical-align: middle;
}

.acc-profile-card__user-photo {
    width: 50px;
    aspect-ratio: auto 50 / 50;
    height: 50px;
}

.acc-profile-card .acc-profile-card__name-and-settings {
    display: inline-block;
    margin-left: 8px;
    vertical-align: middle;
}

.acc-profile-card .acc-profile-card__user-name {
    color: #1a1a1a;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.acc-profile-card__edit-settings-action {
    display: block;
    margin-top: 4px;
    color: #CD9A2B;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    text-decoration: none;
}
