.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.payment-container {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    position: absolute;
    /* bottom: -306px;
    right: 5px; */
    top: -38px;
    left: -107px;
    /* grid-column: span 4;
    max-width: 100%;
    position: relative; */
}

.register-form {
    width: 500px;
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
}

.payment-form {
    width: 500px;
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
        /* position: absolute;
    bottom: -306px;
    right: 5px; */
}

.payment-form h1 {
    padding-left: 0 !important;
    text-align: center;
}

.payment-form h3 {
    color: red !important;
    padding-left: 0 !important;
    font-size: 14px !important;
    text-align: center;
    margin-bottom: 10px !important;
}

form {
    display: block;
}

.register-form h2 {
    color: #CD9A2B;
    font-size: 24px;
    font-weight: bold;
    
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

form .register-button {
    width: 100%;
    background-color: #CD9A2B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

form .register-button:hover {
    background-color: #fff;
    color: #CD9A2B;
    border-radius: 5px;
    border: 1px solid #CD9A2B;
    transition: all 0.3s;
}

.login-here {
    font-size: 14px;
    color: #4a4a4a;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.login-here a {
    color: #CD9A2B;
}

.login-here a:hover {
    color: #000;
}

.line-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.line-header {
    margin-top: 5px;
    margin-bottom: 30px;
}

.line-register {
    width: 30%;
    height: 3px;
    background: linear-gradient(to right, #ccc 25%, #CD9A2B 25%, #CD9A2B 75%, #ccc 75%);
}

.line {
    width: 30%;
    height: 1px;
    background-color: #ccc;
    margin-right: 10px;
}

.or {
    padding: 0 10px;
    font-size: 14px;
    color: #4a4a4a;
}

.social-register {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.social-register button {
    height: 30px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    margin-right: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    padding: 10px 20px 10px 10px;
    transition: background-color 0.2s ease;
}

.social-register button .icon {
    color: #fff;
    flex: 1;
}

.social-register button .facebook-icon {
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.social-register button .google-icon {
    border-right: 1px solid #fff;
    padding-right: 10px;
}

.social-register button span {
    flex: 3;
    padding-left: 10px;
}

.facebook-register {
    background-color: #4267b2;
    color: #fff;
    border-color: #4267b2;
}

.facebook-register:hover {
    background-color: #3b5998;
    border-color: #3b5998;
}

.google-register {
    background-color: #dd4b39;
    color: #fff;
    border-color: #dd4b39;
}

.google-register:hover {
    background-color: #c0392b;
    border-color: #c0392b;
}

.error-message {
    color: red;

}