/* .create-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2f2f2;
}

.create-form {
    margin: 50px auto;
    width: 70%;
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form {
    display: block;
}

.create-form h2 {
    color: #CD9A2B;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}

.input-container textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
}


.image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

form .create-button {
    width: 200px;
    background-color: #CD9A2B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

form .create-button:hover {
    background-color: #fff;
    color: #CD9A2B;
    border-radius: 5px;
    border: 1px solid #CD9A2B;
    transition: all 0.3s;
} */

.create-container {
    padding: 2rem;
    background-color: #f2f2f2;
}

.form-container  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 80px;
}

.create-title {
    color: #CD9A2B;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

.create-form {
    flex-grow: 8;
    margin: 50px auto;
    /* width: 100%; */
    background-color: #fff;
    padding: 40px;
    margin: auto 10px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.input-create-product {
    margin-bottom: 20px;
}

/* .input-create-product input {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
} */

/* .input-create-product select {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
} */

/* .input-create-product textarea {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
} */

.create-submit {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    width: 400px;
    /* max-width: calc(33.33% - 10px); */
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

form .create-button {
    display: block;
    width: 70%;
    background-color: #CD9A2B;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

form .create-button:hover {
    background-color: #bb8b25;
    color: #fff;
    transition: all 0.3s;
}

@media (max-width: 800px) {
    .create-form,
    .create-submit {
        flex: 100%;
        max-width: 100%;
    }
}

.images-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 100%;
}

.image {
    max-width: 100px;
    max-height: 100px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.flex-2 {
    display: flex;
    flex: 50%;
    gap: 10px;
}

/* .flex-2 label {
    height: 100%;
} */

.flex-3 {
    display: flex;
    gap: 10px;
}

.flex-3 label {
    flex: 1;
}