.view-project-container {
    display: flex;
    margin: 50px 100px;
    min-height: 100vh;
}

.project-summary {
    width: 30%;
    margin-right: 20px;
}

.project-summary .card {
    margin-left: -4px;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.project-summary .summary-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.project-summary .label {
    margin-right: 10px;
    font-weight: bold;
}

.project-summary .value {
    flex: 1;
    text-align: right;
}

.view-project-title {
    color: #CD9A2B;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}

.list-project {
    width: 100%;
    margin-left: 40px;
}

.project-card {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    cursor: pointer
}

.project-list-price {
    color: #000;
    font-weight: bold;
}

.content-card {
    display: flex;
}

.imgage {
    margin-right: 10px;
}

.imgage img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.project-list-details {
    display: flex;
    flex-direction: column;
}

.project-list-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.button-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.button-group button {
    background-color: transparent;
    border: 1px solid #CD9A2B;
    border-radius: 4px;
    color: #CD9A2B;
    padding: 10px 20px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button-group button:hover {
    background-color: #CD9A2B;
    color: white;
}