/* .payment-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 20px;
    align-items: center;
}

.payment-image {
    grid-column: span 4;
    max-width: 100%;
}

.payment-details {
    grid-column: span 7;
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 20px;
}

.order-summary,
.total-price,
.qr-code,
.upload-section,
.submit-section {
    padding: 10px;
}

.upload-section input[type="file"] {
    width: 100%;
}

.submit-section button {
    padding: 10px 20px;
    background-color: #CD9A2B;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-section button:hover {
    background-color: #816c0d;
} */

.nApIIM {
    transition: margin-top .3s cubic-bezier(.4, 0, .2, 1);
}

.iAQnc1 {
    /* margin-bottom: 12px; */
    min-width: 1200px;
    align-items: center;
    background: #fff;
    border-bottom: 1px solid rgba(0, 0, 0, .09);
    display: flex;
    height: 6.25rem;
}

.iAQnc1-container {
    margin-right: auto;
    margin-left: auto;
    width: 1200px;
}

.tfMaBS {
    display: flex;
    padding-left: 1.125rem;
}

.fQqDFE {
    align-items: flex-end;
    color: rgba(0, 0, 0, .87);
    display: block;
    display: flex;
    -webkit-text-decoration: none;
    text-decoration: none;
}

.cE_Tbx {
    border-left: 0.0625rem solid #CD9A2B;
    color: #CD9A2B;
    font-size: 1.25rem;
    height: 1.875rem;
    line-height: 1.875rem;
    margin-bottom: 0.0625rem;
    margin-left: 0.9375rem;
    padding-left: 0.9375rem;
    text-transform: capitalize;
}

.HYmUPs-container {
    background-color: #f2f2f2;
    min-height: 100vh;
}

.HYmUPs {
    margin: 0 auto 70px;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    align-items: center;
    position: relative;
}

/* .payment-image {
    grid-column: span 3;
    max-width: 100%;
    height: 100%;
    max-height: 100vh;
    width: auto;
    display: block;
    margin: 0 auto;
} */

.payment-create {
    grid-column: span 4;
    max-width: 100%;
}

.payment-details {
    grid-column: span 8;
    display: grid;
    grid-template-rows: repeat(5, auto);
    gap: 10px;
}

.UWJJw6 {
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
}

.QroV_K+.QroV_K,
.UWJJw6 {
    margin-top: 12px;
    width: 910px;
}

.iSSCtq,
.kvWjhK {
    align-items: center;
    display: flex;
}

.kvWjhK {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
    height: 50px;
    padding: 24px 30px 0;
}

.iSSCtq {
    color: #bbb;
    font-size: 14px;
    height: 30px;
    width: 100%;
}

.k7UefF:first-child {
    justify-content: flex-start;
    text-align: left;
}

.l0wK0t {
    flex: 4;
}

.k7UefF {
    flex: 1;
    justify-content: center;
    text-align: center;
}

.k7UefF .zgWBzz {
    align-items: center;
    color: #BBB;
    display: flex;
    font-size: 14px;
}

.J2gurn,
.zQOVG9 {
    flex: 2;
}

.k7UefF {
    flex: 1;
    justify-content: center;
    text-align: center;
}

.k7UefF:last-child {
    justify-content: flex-end;
    text-align: right;
}

.QroV_K {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
}

.A3VoHf {
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .09);
    position: relative;
}

.v1pNKv {
    border: 0;
    height: 50px;
    padding: 0 30px;
}

.Koi0Pw,
.v1pNKv {
    align-items: center;
    display: flex;
}

.v1pNKv h3._eH_h0 {
    color: rgba(0, 0, 0, .87);
    font-family: HelveticaNeueMedium, HelveticaNeue-Medium, Helvetica Neue Medium, Helvetica Neue, Arial Bold, arial, sans-serif;
    margin-left: 5px;
    -webkit-text-decoration: none;
    text-decoration: none;
}

._MbENL {
    border-bottom: 1px dashed rgba(0, 0, 0, .09);
    padding-bottom: 20px;
}

.CZ00qG {
    color: #222;
    display: flex;
    font-size: 14px;
    margin: 0 30px;
    min-height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.FisIRS:first-child {
    justify-content: flex-start;
}

.ysaw0G {
    flex: 4;
}

.FisIRS {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dUcW_h {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 15px;
    overflow: hidden;
}

.TvB7XR {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.FisIRS:last-child {
    justify-content: flex-end;
}

.BeMjeR {
    flex: 2;
    font-weight: 500;
}

.FisIRS {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: center;
    overflow: hidden;
    text-overflow: ellipsis;
}

.vhebLm {
    background-color: #fafdff;
    border-bottom: 1px dashed rgba(0, 0, 0, .09);
    display: flex;
    justify-content: flex-end;
    min-height: 0;
    min-width: 0;
}

.IyTouc {
    background-color: #fafdff;
    display: flex;
    flex-direction: column;
    padding: 15px 0;
}

.TSU9pp {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

h3.o13Lc4.hERTPn {
    color: rgba(0, 0, 0, .54);
    grid-column-end: 3;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
}

.pAqjyR,
.tvTKSL {
    font-weight: 500;
}

.ZAZB4U,
.f2h36v {
    -ms-grid-row-span: 1;
}

.ZAZB4U {
    grid-row-end: 2;
    grid-row-start: 1;
}

.sJTpuC {
    color: #ee4d2d;
    font-size: 20px !important;
}

.X9R_0O {
    grid-column-end: 4;
    grid-column-start: 3;
    height: 40px;
    min-width: 100px;
    padding: 0 25px 0 10px;
    -ms-grid-column-span: 1;
    justify-content: flex-end;
}

.o13Lc4 {
    align-items: center;
    display: flex;
    font-size: 14px;
}

.N02iLl {
    border-radius: 3px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, .05);
    margin-bottom: 12px;
}

.aSiS8B {
    background: #fff;
    margin-top: 20px;
}

.IN_fAG {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    min-height: 90px;
    padding-left: 30px;
    padding-right: 30px;
}

.wp5W5e {
    flex: 1;
}

.UPSKhT {
    color: #222;
    font-size: 18px;
    width: 200px;
}

.LhNuge {
    color: #222;
    font-size: 14px;
}

button.BM_J3y.div-style {
    color: #05a;
    cursor: pointer;
    font-weight: 500;
    margin-left: 60px;
    text-transform: uppercase;
}

.yHG0SE {
    background: #fffefb;
    border-top: 1px solid #f1f0ed;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .05);
    display: grid;
    grid-template-columns: 1fr -webkit-max-content -webkit-max-content;
    grid-template-columns: 1fr max-content max-content;
    grid-template-rows: auto;
    padding-top: 15px;
    grid-column-gap: 10px;
    display: flex;
}

.yHG0SE-grid-3 {
    flex: 3;
}

.yHG0SE-grid-9 {
    flex: 7;
}

.HYmUPs h2.a11y-visually-hidden,
.HYmUPs h3.a11y-visually-hidden {
    height: 1px;
    left: -9999px;
    overflow: hidden;
    position: absolute;
    top: auto;
    width: 1px;
}

h3.o13Lc4.hERTPn {
    color: rgba(0, 0, 0, .54);
    grid-column-end: 3;
    grid-column-start: 2;
    -ms-grid-column-span: 1;
}

.HYmUPs h1,
.HYmUPs h2,
.HYmUPs h3 {
    color: inherit;
    font-size: inherit;
    font-weight: bold;
    line-height: inherit;
    margin: 0;
    padding: 0;
    padding-left: 30px;
}

.cFXdGN {
    grid-row-end: 12;
    grid-row-start: 11;
}

.cFXdGN,
.dXQApm {
    -ms-grid-row-span: 1;
}

.o13Lc4 {
    align-items: center;
    display: flex;
    font-size: 14px;
}

.X9R_0O {
    grid-column-end: 4;
    grid-column-start: 3;
    height: 40px;
    min-width: 100px;
    padding: 0 25px 0 10px;
    -ms-grid-column-span: 1;
    justify-content: flex-end;
}

.fwPZIN {
    grid-row-end: 13;
    grid-row-start: 12;
}

.cNgneA {
    grid-row-end: 31;
    grid-row-start: 30;
}

.fYeyE4 {
    color: #ee4d2d;
    font-size: 20px;
    font-weight: 500;
    height: 50px;
}

.s7CqeD {
    grid-column-end: 4;
    grid-column-start: 1;
    -ms-grid-column-span: 3;
    grid-row-end: 33;
    grid-row-start: 32;
    -ms-grid-row-span: 1;
    align-items: center;
    /* border-top: 1px dashed rgba(0, 0, 0, .09); */
    display: flex;
    justify-content: flex-end;
    margin: 10px 0 0;
    min-height: 95px;
    padding: 0 30px;
    background: #fffefb;
}

.sQArKu {
    flex: 1;
    padding: 40px 25px 32px 0;
}

.xINqui:first-child {
    padding: 0 15px;
}

.xINqui {
    background-color: #fffdf8;
    color: rgba(0, 0, 0, .54);
    font-size: 14px;
    padding: 12px 15px 0;
}

.HYmUPs .stardust-button--CD9A2B {
    background: #CD9A2B;
    color: #fff;
}

.HYmUPs .stardust-button {
    align-items: center;
    align-self: flex-start;
    /* background: #fff; */
    border: 1px solid rgba(0, 0, 0, .09);
    border-radius: 2px !important;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .03);
    /* color: #555; */
    display: flex;
    justify-content: center;
    outline: none;
    text-transform: capitalize;
}

.LtH6tW {
    align-self: center !important;
    border: 0;
    border-radius: 2px;
    height: 40px;
    padding: 0;
    text-transform: none !important;
    width: 210px;
    background-color: #CD9A2B;
    color: #fff;
}

.sQArKu {
    flex: 1;
    padding: 40px 25px 32px 0;
}

.booking-item {
    margin-bottom: 10px;
}

.payment-flex {
    display: grid;
}

.payment-term {
    color: #CD9A2B;
}

.upload-section input {
    padding-left: 30px;
    padding-bottom: 10px;
}

.payment-image-container {
    padding-left: 30px;
}

.qr-code-image {
    padding-left: 30px;
}

/*---------------------------------------------------------------------*/

/* #bodyconstraint {
    max-width: 1140px;
} */

#bodyconstraint-inner {
    position: relative;
}

.booking-process__container {
    max-width: 1140px;
}

.booking-process__container {
    min-width: 0;
}

.booking-process__container {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    width: 100%;
    min-width: 960px;
    max-width: 1110px;
    margin: auto;
}

.bui-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    padding: 16px;
}

@media (min-width: 1024px) {
    .bui-grid {
        margin: calc(-1* 24px) calc(-1* 24px / 2) 0 calc(-1* 24px / 2);
    }
}

@media (min-width: 576px) {
    .bui-grid {
        margin: calc(-1* 24px) calc(-1* 24px / 2) 0 calc(-1* 24px / 2);
    }
}

.bui-grid,
[class*=bui-grid__column] {
    box-sizing: border-box;
}

.bui-grid {
    margin: calc(-1* 16px) calc(-1* 16px / 2) 0 calc(-1* 16px / 2);
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    list-style-type: none;
}

@media (min-width: 1024px) {
    .bui-grid>[class*=bui-grid__column] {
        padding: 24px calc(24px / 2) 0 calc(24px / 2);
    }
}

@media (min-width: 576px) {
    .bui-grid>[class*=bui-grid__column] {
        padding: 24px calc(24px / 2) 0 calc(24px / 2);
    }
}

@media (min-width: 576px) {

    .bui-grid__column-1\/3\@medium,
    .bui-grid__column-4\@medium {
        flex-basis: 33.33333%;
        width: 33.33333%;
        max-width: 33.33333%;
    }
}

[class*=bui-grid__column] {
    width: 100%;
    padding: 16px calc(16px / 2) 0 calc(16px / 2);
    flex-basis: 100%;
    margin: 0;
}

aside {
    display: block;
    unicode-bidi: isolate;
}

.bui-group {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

[class^=bui-],
[class^=bui-]:after,
[class^=bui-]:before {
    box-sizing: border-box;
}

.bui-group>:first-child {
    margin-top: 0 !important;
}

.bui-group--large>* {
    margin-top: 16px !important;
}

.bui-group>* {
    margin-top: 8px !important;
}

.a6ae3c2b40 {
    border-color: #e7e7e7;
}

.a178069f51 {
    background-color: #fff;
}

.d794b7a0f7 {
    border-radius: 8px;
}

.a18aeea94d {
    border: 1px solid #e7e7e7;
}

.c82435a4b8 {
    padding: calc(4 * 4px);
}

.f53e278e95 {
    overflow: hidden;
}

.c82435a4b8 {
    box-sizing: border-box;
}

.a3214e5942 {
    flex-grow: initial;
}

.c624d7469d {
    gap: calc(4 * 4px);
}

.e8f9ae2be9 {
    align-items: flex-start;
}

.a0e60936ad {
    flex-wrap: initial;
    flex-direction: column;
    align-items: stretch;
}

.c624d7469d {
    display: flex;
    padding: 0;
    list-style-type: none;
    height: 100%;
    margin: 0;
}

.a937b09340 {
    flex-wrap: nowrap;
}

.f034cf5568 {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

.c624d7469d>* {
    flex-shrink: 0;
    margin-block-start: initial;
    margin-block-end: initial;
    margin-inline-start: initial;
    margin-inline-end: initial;
}

.c624d7469d {
    display: flex;
    padding: 0;
    list-style-type: none;
    height: initial;
    margin: 0;
}

.c72df67c95 {
    flex-shrink: 1;
}

.dc5041d860 {
    flex-basis: 100%;
    flex-grow: 1;
}

.a0e60936ad {
    flex-wrap: initial;
    flex-direction: column;
    align-items: stretch;
}

.dbf03e5db3 {
    flex-wrap: initial;
    flex-direction: column-reverse;
    align-items: stretch;
}

.bp-mfe-container--property-details h1 {
    margin-left: 0;
    margin-right: 0;
}

.e1eebb6a1e {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.a0e60936ad {
    flex-wrap: initial;
    flex-direction: column;
    align-items: stretch;
}

.f419a93f12 {
    display: inline-block;
    vertical-align: middle;
}

.a83ed08757[role=button],
a.a83ed08757,
button.a83ed08757 {
    cursor: pointer;
}

.a9377ef817 {
    cursor: copy;
}

.a83ed08757 {
    display: inline-flex;
    vertical-align: top;
    text-decoration: none;
    color: inherit;
    text-align: start;
    border: none;
    padding: 0;
    background: none;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
    position: relative;
}

.a53cbfa6de {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.dab7c5c6fa {
    align-items: center;
}

.bui-card {
    display: flex;
    background-color: #fff;
    color: #1a1a1a;
    border: 1px solid #e7e7e7;
    border-radius: 8px;
    padding: 16px;
}

section {
    display: block;
    unicode-bidi: isolate;
}

.bui-card__content {
    max-width: 100%;
    flex-grow: 1;
}

.bui-card__content header {
    background-color: transparent;
}

.bui-spacer--large {
    margin-bottom: 16px !important;
}

.bui-card__title {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.bui-card__subtitle,
.bui-card__title {
    margin: 0;
    padding: 0;
}

.bui-group__item {
    flex-shrink: 0;
}

.bui-date-range {
    display: flex;
}

.bui-date-range .bui-date-range__item:first-child {
    padding-right: 16px;
}

.bui-date__label {
    margin: 0 0 4px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.bui-date--large {
    text-align: left;
}

.bui-date {
    display: inline-block;
    position: relative;
    text-align: center;
}

.bui-date-range--large .bui-date__title {
    text-align: left;
}

.bui-date__title {
    display: block;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.bui-date-range .bui-date-range__item+.bui-date-range__item .bui-date:before {
    content: "";
    background: #e7e7e7;
    position: absolute;
    height: 100%;
    left: calc(16px* -1);
    top: 0;
    width: 1px;
}

.bui-date-range .bui-date-range__item+.bui-date-range__item {
    padding-left: 16px;
}

.bui_font_emphasized,
body .bui-f-font-emphasized,
body .bui_font_emphasized {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.bui-group--small>* {
    margin-top: 4px !important;
}

.bui_font_strong,
body .bui-f-font-strong,
body .bui_font_strong {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.bp-price-details__total--discount-breakdown-with-bg {
    background-color: #ebf3ff;
}

.bp-price-details__total--discount-breakdown {
    position: relative;
    background-color: transparent;
}

.bp-price-details__total {
    background-color: #ebf3ff;
    padding: 16px;
    margin-left: -16px;
    margin-right: -16px;
    border: 0;
}

.bui-card__text {
    margin: 16px 0 0;
}

.bp-price-details__total--discount-breakdown-with-discount:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 1px;
    border-top: 1px solid #e7e7e7;
}

.bp-price-details__total-line--v-align-end {
    align-items: flex-end;
}

.bp-price-details__charge-line,
.bp-price-details__total-line,
.bp-schedule__milestone {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.bp-price-details__total-line--user .bp-price-details__charge-type,
.bp-price-details__total-line--user .bp-price-details__charge-name,
.bp-price-details__total-line--user .bp-price-details__charge-value {
    font-weight: 700;
}

.bp-price-details__total-line .bp-price-details__charge-type,
.bp-price-details__total-line .bp-price-details__charge-name,
.bp-price-details__total-line .bp-price-details__charge-value {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.bp-price-details__charge-type,
.bp-schedule__milestone-name {
    width: auto;
}

.bp-price-details__total-price {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.bui-u-padding-end--8 {
    padding-right: 8px !important;
}

.bui-u-text-right,
.u-text-right {
    text-align: right !important;
}

.bp-price-details__total--taxes-and-charges-info,
.bp-price-details__total--price-in-hotel-currency,
.bp-price-details__total--kuna-rate,
.bp-price-details__total--installments {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    color: #595959;
}

@media (min-width: 1024px) {
    .bui-grid>[class*=bui-grid__column] {
        padding: 24px calc(24px / 2) 0 calc(24px / 2);
    }
}

@media (min-width: 576px) {
    .bui-grid>[class*=bui-grid__column] {
        padding: 24px calc(24px / 2) 0 calc(24px / 2);
    }
}

@media (min-width: 576px) {

    .bui-grid__column-2\/3\@medium,
    .bui-grid__column-8\@medium {
        flex-basis: 66.66667%;
        width: 66.66667%;
        max-width: 66.66667%;
    }
}

[class*=bui-grid__column] {
    width: 100%;
    padding: 16px calc(16px / 2) 0 calc(16px / 2);
    flex-basis: 100%;
    margin: 0;
}

.bui-grid,
[class*=bui-grid__column] {
    box-sizing: border-box;
}

.bui-inline-container__main {
    flex-grow: 1;
}

.bui-text--variant-headline_3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    font-family: "Blue Sans", BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.bui-card__text {
    margin: 16px 0 0;
}

@media (min-width: 1024px) {
    .bui-grid--size-small {
        margin: calc(-1* 16px) calc(-1* 16px / 2) 0 calc(-1* 16px / 2);
    }
}

@media (min-width: 576px) {
    .bui-grid--size-small {
        margin: calc(-1* 24px) calc(-1* 24px / 2) 0 calc(-1* 24px / 2);
    }
}

@media (min-width: 1024px) {
    .bui-grid--size-small>[class*=bui-grid__column] {
        padding: 16px calc(16px / 2) 0 calc(16px / 2);
    }
}

@media (min-width: 576px) {
    .bui-grid--size-small>[class*=bui-grid__column] {
        padding: 16px calc(16px / 2) 0 calc(16px / 2);
    }
}

@media (min-width: 1024px) {

    .bui-grid__column-1\/2\@large,
    .bui-grid__column-6\@large {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
    }
}

@media (min-width: 576px) {

    .bui-grid__column-1\/2\@medium,
    .bui-grid__column-6\@medium,
    .bui-grid__column-half\@medium {
        flex-basis: 50%;
        width: 50%;
        max-width: 50%;
    }
}

.bp_form__field--title,
.bp_form__field--firstname,
.bp_form__field--lastname {
    float: none;
    padding: 0;
}

.bp_form__field {
    margin: 0;
}

.bp_form__field--title,
.bp_form__field--firstname {
    float: left;
    padding-right: 17px;
}

.bp_form__field {
    margin-bottom: 10px;
}

.bp_form__field__label {
    display: block;
    font-weight: bold;
    margin-bottom: 2px;
}

.bp_form__field .bp_input_text,
.bp_form__field .bp_input_select,
.bp_input_select {
    box-sizing: border-box;
    height: 36px;
}

.bp_form__field .bp_input_text,
.input_holder .bp_input_text,
.bp_form__field .bp_input_select,
.bp_input_select,
.bp-special-requests__textarea {
    background-color: #fff;
    border-width: 1px;
    padding: 4px 24px 4px 8px;
    line-height: 20px;
    border-radius: 4px;
}

.bp_form__field .bp_input_text,
.input_holder .bp_input_text,
.bp_form__field .bp_input_select {
    margin: 0;
    box-sizing: border-box;
    height: 36px;
    width: 100%;
}

.book-form input,
.book-form textarea,
.book-form select {
    background: #fff;
    border: 1px solid #aaa;
    outline: 0;
}

.book-form input,
.book-form textarea,
.book-form select {
    border-color: #868686;
}

.bp_input_text {
    border-radius: 4px;
    padding: 6px 25px 6px 2px;
    zoom: 1;
    height: 19px;
    line-height: 23px;
}

.bWdlgyB0W_fwdujfrgRA .A1lmouXAu10vISnnmR2M,
.i5VJZqFj5rYEISDkJ2RO .A1lmouXAu10vISnnmR2M {
    margin-block-start: 8px;
}

.A1lmouXAu10vISnnmR2M,
.GNzhSvV2VdyOTAClv1xi {
    margin: 0;
    padding: 0;
}

.x9mw82OGJDdT97ho7Wyc {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.H6lzDEPPhc6rnad4mB7d {
    color: #474747;
}

@media (min-width: 992px) {
    .my-settings-edit-row {
        display: flex;
        padding: 0;
    }
}

.my-settings-edit-row {
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
    color: #1a1a1a;
    padding: 16px 0;
    position: relative;
}

@media (min-width: 992px) {
    .my-settings-cell-spacing {
        padding: 16px;
    }
}

@media (min-width: 992px) {
    .my-settings-col-shrink {
        min-width: 130px;
        overflow-x: hidden;
        position: relative;
        width: 130px;
    }
}

.my-settings-col-shrink {
    white-space: normal;
}

.my-settings-cell-spacing {
    padding: 0 16px;
    white-space: nowrap;
}

.x9mw82OGJDdT97ho7Wyc {
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

@media (min-width: 992px) {
    .my-settings-col-shrink:after {
        background: linear-gradient(to right, hsla(0, 0%, 100%, 0), #fff);
        content: "";
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
        width: 16px;
    }
}

.my-settings-flex-grow {
    flex-grow: 1;
    width: 0;
}

.pc-pm-section {
    position: relative;
}

.dnrAFC.single-payment-method {
    margin-top: 0px;
}

.dnrAFC {
    margin-top: 16px;
}

.single-payment-method .cnZRHr {
    margin-top: 8px;
}

.cnZRHr {
    margin-top: 24px;
    margin-bottom: 16px;
}

.dFDboCg6ONrjf7Ra7Mvq {
    clip: rect(0, 0, 0, 0);
    border: 0;
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.ikbMPt {
    width: calc(100% + 8px);
}

.bui-spacer--large {
    margin-bottom: 16px !important;
}

.fsVPjJ {
    display: inline-block;
    align-items: center;
}

.croNNM {
    height: 18px;
    margin-right: 8px;
    aspect-ratio: auto 30 / 18;
    width: 30px;
}

/* .PaymentMethodLogo__IconItem-sc-1y6kfmc-1 img {
    max-width: 363%;
} */

.my-settings-edit-row--editing .my-settings-flex-by-row--reverse {
    align-items: flex-start;
}

@media (min-width: 992px) {
    .my-settings-flex-by-row--reverse {
        align-items: flex-start;
    }
}

.my-settings-flex-by-row--reverse {
    align-items: center;
    flex-direction: row-reverse;
}

.my-settings-flex-by-row {
    display: flex;
    flex-direction: row;
}

.my-settings-col-grow {
    align-items: center;
    flex-grow: 1;
    white-space: normal;
}
.my-settings-cell-spacing {
    padding: 0 16px;
    white-space: nowrap;
}

.bui-spacer--large {
    margin-bottom: 16px !important;
}

.c8aJz4rD8xrKZdQeSObm {
    align-items: flex-end;
    display: flex;
    padding: 0;
    padding-block-end: 4px;
}

.pdwjKNhlw16m0TS0grss {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

body .payment-user-info {
    font-size: 15px;
    font-weight: 500;
    line-height: 20px;
    font-family: BlinkMacSystemFont, -apple-system, Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}